button {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	font-family: cursive;
	font-size: larger;
	color: cadetblue;
	background-color: blanchedalmond;
}
body {
	display: flex;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: center;
}

div {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

#calendar-window {
	display: flex;
	flex-flow: wrap-reverse;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#arrow-button {
	color: black;
	font-size: xx-large;
	font-family: cursive;
	height: fit-content;
	width: 80px;
	position: sticky;
	margin: 10px;
}
.bandeau {
	display: flex;
	justify-content: space-between;
	height: fit-content;
	width: fit-content;
	flex-direction: column;
}

button:hover {
	color: cornflowerblue;
}

#b-div {
	justify-content: center;
}

h2 {
	font-family: cursive;
	font-size: xx-large;
}
